<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposePractise"
        tools:targetApi="31">
        <activity
            android:name=".MeditationUI"
            android:exported="false"
            android:label="@string/title_activity_meditation_ui"
            android:theme="@style/Theme.ComposePractise" />
        <activity
            android:name=".AnimatedProgressBar"
            android:exported="false"
            android:label="@string/title_activity_animated_progress_bar"
            android:theme="@style/Theme.ComposePractise" />
        <activity
            android:name=".SimpleAnimation"
            android:exported="true"
            android:label="@string/title_activity_simple_animation"
            android:theme="@style/Theme.ComposePractise">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConstraintLayoutPractise"
            android:exported="true"
            android:label="@string/title_activity_constraint_layout_practise"
            android:theme="@style/Theme.ComposePractise" />
        <activity
            android:name=".ListsPractise"
            android:exported="true"
            android:label="@string/title_activity_lists_practise"
            android:theme="@style/Theme.ComposePractise" />
        <activity
            android:name=".UIPractiseClass2"
            android:exported="true"
            android:label="@string/title_activity_uipractise_class2"
            android:theme="@style/Theme.ComposePractise" />
        <activity
            android:name=".StateExercise"
            android:exported="false"
            android:label="@string/title_activity_state_exercise"
            android:theme="@style/Theme.ComposePractise" />
        <activity
            android:name=".TextStylingExercise"
            android:exported="true"
            android:label="@string/title_activity_text_styling_exercise"
            android:theme="@style/Theme.ComposePractise" />
        <activity
            android:name=".UIPractiseClass1"
            android:exported="true"
            android:label="@string/title_activity_uipractise_class1"
            android:theme="@style/Theme.ComposePractise" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposePractise" />
    </application>

</manifest>